@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --mau-chu: #001858;
    --mau-nen: #F3D2C1;
    --mau-nen-phu: #fef6e4;
    --font-chinh: "Lora", sans-serif;
    --mau-header: rgba(243, 210, 193, 0.2);
    --mau-btn: #EFC2AC;
    --mau-btn-hover: #F79ABD;
    --mau-bang: #ffe2e9;
    --mau-vien-duoi: #E99F4C;
    --mau-border: #264143;
    --mau-btn-register: #DE5499;

}

.forgotps {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../assets/images/b-meo-mo.png") center/cover no-repeat;
}

.forgot__form {
    max-width: 350px;
    margin: 60px auto;
    padding: 25px;
    border-radius: 20px;
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.1); */
    text-align: center;
    font-family: var(--font-chinh);
    color: var(--mau-chu);
    background-color: var(--mau-nen-phu);

    box-shadow: 3px 3px 0px 0px var(--mau-vien-duoi);

}

.forgot__form h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.forgot__form input {
    width: 80%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 2px solid #8bd3dd;
    /* xanh nhạt */
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
    background: #fff;
    transition: 0.2s;
    box-shadow: 3px 3px 0px 0px var(--mau-vien-duoi);
    font-family: var(--font-chinh);
}

.forgot__form input:focus {
    border-color: #f582ae;
    /* hồng pastel */
    box-shadow: 0 0 6px rgba(245, 130, 174, 0.4);
}

.forgot__form button {
    width: 60%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: #f582ae;
    /* nút hồng */
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    font-family: var(--font-chinh);

    transition: 0.3s;
}

.forgot__form button:hover {
    background: #e54c85;
    /* hồng đậm */
}

.forgot__form p {
    margin-top: 15px;
    font-size: 0.9rem;
}

.forgot__form a {
    color: #001858;
    text-decoration: none;
    font-weight: bold;
}

.forgot__form a:hover {
    text-decoration: underline;
}